@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
.app {
  min-height: 100vh;
  /* padding: 0 6.1rem; */
  overflow: hidden;
  width: 100%;
}

img {
  width: 100%;
}
.container{
  max-width: 114rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 6.1rem;
}
header {
  height: 9.5rem;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-height: 114rem;
}

header img {
  width: 140px;
}

.container-right img {
  width: 55.8rem;
}

.content-area {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}

.header-left h1 {
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 64px;
}

.header-left {
  margin-bottom: 8px;
  
} 
.one {
  color: #464880;
}
.two {
  color: #F37250;
}

.text-left p {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 30px;
  color: #2d2d2d;
}

.text-left{
  margin-bottom: 32px;
}

.btn-left button {
  background-color: #F37250;
  color: #fff;
  border: none;
  border-radius: 8px;
  width: 170px;
  height: 42px;
  cursor: pointer;
}
.btn-left button:active {
  background-color: #ef5f38;
  border-radius: 8px;
}



@media screen and (max-width:992px) {
  .content-area {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .header-left h1 {
    font-size: 3.6rem;
    line-height: 35px;
  }
  header {
    margin-bottom: 30px;
  }
  .header-left {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
.text-left p {
  font-size: 1.6rem;
  line-height: 25px;
  text-align: center;
  
}
.text-left{
  margin-bottom: 30px;
}

header img {
  width: 100px;
  margin: 0 auto;
}
.container-right img {
  width: 400px;
}

.btn-left  {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
  .container-right  {
    margin: 0 auto;
  }
}

@media screen and (max-width:600px) {
 
  .container-right img {
    width: 400px;
  }

  .container{
    padding: 0 2.4rem;
  }
  .header-left {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

.text-left{
  margin-bottom: 30px;
}

header img {
  width: 100px;
  margin: 0 auto;
}
.btn-left  {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

}

@media screen and (max-width:455px) {
 
  .header-left h1 {
    font-size: 2.8rem;
    line-height: 35px;
  }
  .text-left p {
    font-size: 1.4rem;
    line-height: 25px;
    text-align: center;
    
  }
  .container-right img {
    width: 100%;
  }

}